<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="index.mapper.UserMapper">
    <resultMap id="userList" type="index.pojo.User">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="gender" property="gender" jdbcType="INTEGER" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="district" property="district" jdbcType="VARCHAR" />
        <result column="signature" property="signature" jdbcType="VARCHAR" />
        <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
        <result column="modified_user" property="modifiedUser" jdbcType="VARCHAR" />
        <result column="is_vip" property="isVip" jdbcType="INTEGER" />
        <result column="is_admin" property="isAdmin" jdbcType="INTEGER" />
    </resultMap>

    <select id="selectUserInfo" resultMap="userList">
        select t.* from user t where 1 = 1
        <if test="user.id != null and user.id != ''">
            and t.id = #{user.id, jdbcType=INTEGER}
        </if>
        <if test="user.username != null and user.username != ''">
            and t.username = #{user.username, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectUserInfo2" resultMap="userList">
        select t.* from user t where 1 = 1
        <if test="user.id != null and user.id != ''">
            and t.id = #{user.id, jdbcType=INTEGER}
        </if>
        <if test="user.username != null and user.username != ''">
            and t.username = #{user.username, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectUserInfo3" resultType="index.pojo.User">
        select t.id id, t.username username, t.password password, t.nickname nickname, t.birthday birthday,
        t.gender gender, t.province province, t.city city, t.district district, t.signature signature,
        t.head_portrait headPortrait, t.salt salt, t.is_delete isDelete, t.created_time createdTime,
        t.created_user createUser, t.modified_time modifiedTime, t.modified_user modifiedUser, t.is_vip isVip, t.is_admin isAdmin
        from user t where 1 = 1
        <if test="user.id != null and user.id != ''">
            and t.id = #{user.id, jdbcType=INTEGER}
        </if>
        <if test="user.username != null and user.username != ''">
            and t.username = #{user.username, jdbcType=VARCHAR}
        </if>
    </select>

</mapper>